body{
    background-image: URL("https://raw.githubusercontent.com/fun-facts/question-mark.gif/main/giphy.gif");
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
